{% extends "index.twig" %}

{% block content %}

	{% for user in users %}
		<li> User: {{ user.first_name }} ( {{user.email}} )</li>

		<div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Filters</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="col-md-2">
							<label for="amount">Amount</label>
							<input type="text"  name="amount" id="amount" class="form-control" >
						</div>
						<div class="col-md-2">
							<label for="date">Date</label>
							<input type="text"  name="date" id="date" class="form-control date-picker" >
						</div>
						<div class="col-md-2">
							<label for="customer_id">Customer ID</label>
							<input type="text" id="customer_id" class="form-control" name="customer_id">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>List</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content search-hide">
						<table id="datatable" class="table table-striped table-bordered">
							<thead>
							<tr>
								<th>Transaction ID</th>
								<th>Customer ID</th>
								<th>Amount</th>
								<th>Date</th>
							</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}