{% extends "index.twig" %}

{% block content %}
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <h1>Login</h1>
    <p>Please login with your email/username and password below.</p>
    <div id="infoMessage"></div>
    <form action="http://api.dev/auth/login" method="post" accept-charset="utf-8">
      <p>
        <label for="identity">Email/Username:</label>
        <input type="text" name="identity" value="" id="identity">
      </p>
      <p>
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">
      </p>
      <p>
        <input type="submit" name="submit" value="Login">
      </p>
    </form>

  </div>
  <div class="col-lg-4"></div>
</div>
{% endblock %}